@import "compass";
@import "variables";

$spinner-size: 40px;

.spinner {
	display: block;
	padding-top: 50px;
	text-align: center;
	margin: 12vh 0;
	top: 0;
	left: 0;
	width: 100%;
	background: url("#{$omni-image-path}/spinner.gif") no-repeat center top scroll transparent;
	@include background-size($spinner-size);
}

.btn {
	&.btn-default {
		color: $brand-primary;
		border-color: $brand-primary;
		background-color: transparent;
		&:hover, &:focus, &.active {
			color: white;
			@include box-shadow(0 0 0 0 transparent);
			border-color: $brand-primary;
			background-color: $brand-primary;
		}
		&[disabled], &.disabled {
			cursor: not-allowed;
			color: $gray-lighter;
			border-color: $gray-lighter;
		}
	}
	&.btn-google {
		color: white;
		border-color: $google-color-red;
		background-color: $google-color-red;
		&:hover, &:focus, &.active {
			@include box-shadow(0 0 0 0 transparent);
			border-color: darken($google-color-red, 5%);
			background-color: darken($google-color-red, 5%);
		}
	}
	&.btn-yahoo {
		color: white;
		border-color: $yahoo-color-purple;
		background-color: $yahoo-color-purple;
		&:hover, &:focus, &.active {
			@include box-shadow(0 0 0 0 transparent);
			border-color: darken($yahoo-color-purple, 5%);
			background-color: darken($yahoo-color-purple, 5%);
		}
	}
	&.btn-outlook {
		color: white;
		border-color: $outlook-color-blue;
		background-color: $outlook-color-blue;
		&:hover, &:focus, &.active {
			@include box-shadow(0 0 0 0 transparent);
			border-color: darken($outlook-color-blue, 5%);
			background-color: darken($outlook-color-blue, 5%);
		}
	}
	&.btn-apple {
		color: white;
		border-color: $apple-color-gray;
		background-color: $apple-color-gray;
		&:hover, &:focus, &.active {
			@include box-shadow(0 0 0 0 transparent);
			border-color: darken($apple-color-gray, 5%);
			background-color: darken($apple-color-gray, 5%);
		}
	}
}

.breadcrumb {
	font-size: smaller;
	li {
		&:hover, &:focus, &:active {
			outline: none 0;
			cursor: pointer;
			color: darken($brand-success, 10%);
		}
	}
	.active ~ li {
		color: $gray-lighter;
	}
	.active, .active ~ li {
		&:hover, &:focus, &:active {
			cursor: default;
		}
	}
}

.loadable {
	&::after {
		top: 0;
		z-index: 50;
		left: -100%;
		content: '';
		width: 110%;
		height: 100%;
		margin: auto -5%;
		position: absolute;
		@include opacity(0);
		background: url("#{$omni-image-path}/spinner.gif") center center no-repeat fixed fade-out(white, 0.2);
		@include background-size($spinner-size);
		@include transition(opacity 0.5s, left 0s ease 0.5s);
	}
	&.loading::after {
		left: 0%;
		@include opacity(1);
		@include transition(opacity 0.5s, left 0s);
	}
}