@import "compass";
@import "variables";

.form-group {
	strong, label {
		font-family: $omni-font-family-bold;
	}
}

.spinner {
	$size: 60px / 1.5;
	display: block;
	padding-top: $size;
	text-align: center;
	background: url("#{$omni-image-path}/spinner.gif") no-repeat top center scroll transparent;
	@include background-size($size $size);
}

.btn.btn-default {
	color: $brand-primary;
	border-color: $brand-primary;
	background-color: transparent;
	&:hover, &:focus, &.active {
		color: white;
		@include box-shadow(0 0 0 0 transparent);
		border-color: $brand-primary;
		background-color: $brand-primary;
	}
	&[disabled], &.disabled {
		cursor: not-allowed;
		color: $gray-lighter;
		border-color: $gray-lighter;
	}
}