@import "compass";
@import "variables";

$spinner-size: 40px;

.spinner {
	display: block;
	padding-top: 32%;
	text-align: center;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url("#{$omni-image-path}/spinner.gif") no-repeat center 40% scroll transparent;
	@include background-size($spinner-size);
}

.btn.btn-default {
	color: $brand-primary;
	border-color: $brand-primary;
	background-color: transparent;
	&:hover, &:focus, &.active {
		color: white;
		@include box-shadow(0 0 0 0 transparent);
		border-color: $brand-primary;
		background-color: $brand-primary;
	}
	&[disabled], &.disabled {
		cursor: not-allowed;
		color: $gray-lighter;
		border-color: $gray-lighter;
	}
}

.loadable {
	&::after {
		top: 0;
		z-index: 50;
		left: -100%;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		@include opacity(0);
		background: url("#{$omni-image-path}/spinner.gif") center center no-repeat scroll fade-out(white, 0.2);
		@include background-size($spinner-size);
		@include transition(opacity 0.5s, left 0s ease 0.5s);
	}
	&.loading::after {
		left: 0;
		@include opacity(1);
		@include transition(opacity 0.5s, left 0s);
	}
}