@import "compass";
@import "variables";

h1 {
	letter-spacing: 4px;
}

strong {
	font-family: $omni-font-family-bold;
}

button, a {
	&:focus {
		outline: none 0 !important;
	}
}

em {
	font-style: normal;
	font-family: museo_sans100_italic, Verdana, Arial, Helvetica, sans-serif;
}

hr {
	border-top-width: 3px !important;
	margin: 2.5em 40% !important;
}