@import "compass";
@import "variables";

.svg-icon {

	width: 1em;
	height: 1em;
	line-height: 1em;
	display: inline-block;
	vertical-align: text-top;
	background: none center center/contain no-repeat transparent;

	&.svg-icon-google {
		background-image: url("#{$omni-image-path}/logos/google.svg");
	}

	&.svg-icon-apple {
		background-image: url("#{$omni-image-path}/logos/apple.svg");
	}

	&.svg-icon-outlook {
		background-image: url("#{$omni-image-path}/logos/outlook.svg");
	}

	&.svg-icon-yahoo {
		background-image: url("#{$omni-image-path}/logos/yahoo.svg");
	}

}